<%= form_for(@comment, url: link_comments_path(@link)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id%>
    <%= ": #{current_user.name}"%>
  </div>
  <div class="field form-group">
    <%= f.label :body, "Text:" %><br>
    <%= f.text_field :body, class: 'form-control' %>
   </div>   
  <div class="field form-group">
    <%= f.label :url, "URL:" %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
