<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Link:</strong>
  <%= @comment.url %>
</p>

<%= link_to 'Edit', edit_link_comment_path(@link, @comment) %> |
<%= link_to 'Back', link_path(@link) %>
